html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: $font-sm;
    line-height: 1.3;
    color: $color-neutral-700;
    min-width: min-content;

    @include breakpoint-up(large) {
        font-size: $font-med;
    }
}

main {
    position: relative;

        .error-msg {
            font-size: $font-xsm;
            display: none;
            color: $color-danger-600;
            position: absolute;
            top: 0px;
            left: 0px;
            right: 0px;
            margin-left: auto;
            margin-right: auto;
            z-index: 9999;
            height: 1.75rem;
            width: 100%;
            min-width: fit-content;
            line-height: 0.875rem;
            contain: content;
            white-space: nowrap;
            text-align: center;
            padding: auto;
        }
}