// COLORS
// Primary-colors
$color-primary-100: #eff8ff;
$color-primary-200: #aad4f5;
$color-primary-300: #63a2d8;
$color-primary-400: #3183c8;
$color-primary-500: #2368a2;
$color-primary-600: #1a4971;
$color-primary-700: #203d54;

// Neutral-colors
$color-neutral-100: #f8f9fa;
$color-neutral-200: #e1e7ec;
$color-neutral-300: #cfd6de;
$color-neutral-400: #b8c4ce;
$color-neutral-500: #8895a7;
$color-neutral-600: #5f6b7a;
$color-neutral-700: #212934;

// Accent-colors
$color-highlight-100: #e7fffe;
$color-highlight-200: #a8eeeb;
$color-highlight-300: #6ed7d3;
$color-highlight-400: #3caea3;
$color-highlight-500: #2a9187;
$color-highlight-600: #1b655e;
$color-highlight-700: #124544;

$color-success-100: #e3fcec;
$color-success-200: #a8eec1;
$color-success-300: #74d99f;
$color-success-400: #38c172;
$color-success-500: #259d58;
$color-success-600: #197741;
$color-success-700: #145239;

$color-warning-100: #fffcf4;
$color-warning-200: #fdf3d7;
$color-warning-300: #fae29f;
$color-warning-400: #f4ca64;
$color-warning-500: #caa53d;
$color-warning-600: #8c6d1f;
$color-warning-700: #5c4813;

$color-danger-100: #fce8e8;
$color-danger-200: #f5aaaa;
$color-danger-300: #e46464;
$color-danger-400: #dc3030;
$color-danger-500: #b82020;
$color-danger-600: #891b1b;
$color-danger-700: #611818;


//FONT SIZES
$font-xsm: 0.75rem;
$font-sm: 0.875rem;
$font-med: 1.125rem;
$font-lg: 1.25rem;
$font-xlg: 3.25rem;

